<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384984443907-5h39stoia88f6jo43cujpv19ds3ecbke.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384984443907-5h39stoia88f6jo43cujpv19ds3ecbke</string>
	<key>API_KEY</key>
	<string>AIzaSyDTfeVSfYdtsF4xWJBtmrbxlUjGeFJ_Wyo</string>
	<key>GCM_SENDER_ID</key>
	<string>384984443907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Tech2.Library-System</string>
	<key>PROJECT_ID</key>
	<string>sertifikasi-alamsyah</string>
	<key>STORAGE_BUCKET</key>
	<string>sertifikasi-alamsyah.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384984443907:ios:6f667360a0f571a2ecb236</string>
</dict>
</plist>